<div class="container__big-card">
  <div class="big-card__img">
      <img class="img" src="https://t.ctcdn.com.br/wQkKKDBe1HpwEmbJ7ADMfLznS_Q=/990x557/smart/i350335.jpeg" alt="">
  </div>
  <div class="big-card__title">
      <h2 class="title"><a href="">titulo da noticia</a></h2>
  </div>
  <div  class="big-card__description">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum maiores incidunt accusamus quas vel deserunt est porro, ab, natus esse, animi aperiam! Facere nulla illo obcaecati asperiores numquam laborum totam?</p>
  </div>

</div>
