.container__big-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}
.img{
  display: block;
  max-width: 100%;
}
.title{

  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;

}


.description{

  font-size: 1.2;
  margin: 0;

}
