
<header>
  
    <app-menu-bar></app-menu-bar>


  <app-menu-title></app-menu-title>
</header>


<section class="container__news">

  <article class="main__news">
    <app-big-card></app-big-card>
  </article>

  <article class="other__news">
    <article class="small__news">
      <app-small-card></app-small-card>
    </article>
    <article class="small__news">
      <app-small-card></app-small-card>
    </article>
    <article class="small__news">
      <app-small-card></app-small-card>
    </article>
  </article>

</section>
